@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

a, p {
  text-decoration: none;
  margin: 0 auto;
  line-height: 2;
}

ul, li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* PC */
@media screen and (min-width:769px) {
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
}

/* SP */
@media screen and (max-width:768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
